aubo.json
[{"id":"24889cd.1068264","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62b17bc0.15aa64","type":"tcp in","z":"24889cd.1068264","name":"","server":"server","host":"","port":"8080","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":180,"y":520,"wires":[["a1f305c5.6efb78"]]},{"id":"687b71ad.d0cd3","type":"tcp out","z":"24889cd.1068264","host":"127.0.0.1","port":"8080","beserver":"client","base64":false,"end":false,"name":"","x":1930,"y":380,"wires":[]},{"id":"2307010a.7c3e7e","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"Hallo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":240,"wires":[["89bbb432.7d10f8"]]},{"id":"e2493fbc.5585d","type":"debug","z":"24889cd.1068264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":360,"wires":[]},{"id":"517c4ed1.fa65f","type":"debug","z":"24889cd.1068264","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1930,"y":240,"wires":[]},{"id":"89bbb432.7d10f8","type":"function","z":"24889cd.1068264","name":"","func":"var data = {\"temp\":30,\"hum\":80};\nnode.log(typeof data);\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":240,"wires":[["517c4ed1.fa65f","225239b9.184286"]]},{"id":"b05e32e4.d8903","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":340,"wires":[["7db26feb.bfbff"]]},{"id":"225239b9.184286","type":"tcp out","z":"24889cd.1068264","host":"127.0.0.1","port":"8080","beserver":"client","base64":false,"end":false,"name":"","x":1950,"y":180,"wires":[]},{"id":"7db26feb.bfbff","type":"file in","z":"24889cd.1068264","name":"11","filename":"C:\\Users\\Hotch\\Downloads\\aubo-tcp-master\\aubo-tcp-master\\Guide and Templates\\aubo-half-circle.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1670,"y":340,"wires":[["56e1d6a2.209c68","687b71ad.d0cd3"]]},{"id":"56e1d6a2.209c68","type":"debug","z":"24889cd.1068264","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":300,"wires":[]},{"id":"29b9d5a7.fa44ca","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["aed14c0c.33365"]]},{"id":"aed14c0c.33365","type":"http request","z":"24889cd.1068264","name":"post request operation1","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:4000/robot/aubo/aas/submodels/Control/operations/Operation1","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":360,"wires":[["e2493fbc.5585d"]]},{"id":"cc9908fb.462e18","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["7dacc27c.b9d08c"]]},{"id":"87b9c699.871008","type":"debug","z":"24889cd.1068264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":120,"wires":[]},{"id":"7dacc27c.b9d08c","type":"http request","z":"24889cd.1068264","name":"get request registry ","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:4000/robot/registry/api/v1/registry/","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["a047fa9d.384ea8"]]},{"id":"1776ae49.1901f2","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["6b0371e1.60653"]]},{"id":"6b0371e1.60653","type":"http request","z":"24889cd.1068264","name":"get request control submodel","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:4000/robot/aubo/aas/submodels/Control","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":300,"wires":[["cb9313e3.17afa"]]},{"id":"e47b4491.203248","type":"debug","z":"24889cd.1068264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":300,"wires":[]},{"id":"a1f305c5.6efb78","type":"xml","z":"24889cd.1068264","name":"","property":"payload","attr":"","chr":"","x":410,"y":520,"wires":[[]]},{"id":"f64d25ab.c28d48","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["aaff8aaf.b5b6f8"]]},{"id":"aaff8aaf.b5b6f8","type":"http request","z":"24889cd.1068264","name":"get request sensor submodel","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:4000/robot/aubo/aas/submodels/Sensor","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":240,"wires":[["9aa55570.e73738"]]},{"id":"8d945163.0e27d","type":"debug","z":"24889cd.1068264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":240,"wires":[]},{"id":"a047fa9d.384ea8","type":"json","z":"24889cd.1068264","name":"","property":"payload","action":"","pretty":false,"x":610,"y":120,"wires":[["87b9c699.871008"]]},{"id":"9aa55570.e73738","type":"json","z":"24889cd.1068264","name":"","property":"payload","action":"","pretty":false,"x":670,"y":240,"wires":[["8d945163.0e27d"]]},{"id":"cb9313e3.17afa","type":"json","z":"24889cd.1068264","name":"","property":"payload","action":"","pretty":false,"x":690,"y":300,"wires":[["e47b4491.203248"]]},{"id":"62d8f29a.9085fc","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["7c0679c0.f32dc8"]]},{"id":"7c0679c0.f32dc8","type":"http request","z":"24889cd.1068264","name":"post request operation2","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:4000/robot/aubo/aas/submodels/Control/operations/Move2","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":420,"wires":[[]]},{"id":"2c1a61d3.198f0e","type":"inject","z":"24889cd.1068264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["330ec2c2.79062e"]]},{"id":"330ec2c2.79062e","type":"http request","z":"24889cd.1068264","name":"get request aubo robot","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:4000/robot/aubo/aas/","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":180,"wires":[["66b66bc2.f614f4"]]},{"id":"b4968f57.4fb0f","type":"debug","z":"24889cd.1068264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":180,"wires":[]},{"id":"66b66bc2.f614f4","type":"json","z":"24889cd.1068264","name":"","property":"payload","action":"","pretty":false,"x":670,"y":180,"wires":[["b4968f57.4fb0f"]]}]